body{
    font-family: 'Montserrat';
    width: 75%;
    margin: auto;
    font-size: 100%;

}
#hemester {
    height: 20px;
}

header{
    height: 20px;
    flex-wrap: wrap;
}
.caixa_p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.app{
    /*

    background: linear-gradient(45deg, rgb(42, 55, 128), rgb(104, 1, 130));

    */
    border-radius:15px; 
    margin: 5px;
    text-align: center;
    transition: 0.2s;
    color: transparent;
    margin-bottom: 15px;
    min-width: 20%;
    max-width: 20%;
}
img{
    width: 100%;
    transition: 2s;
}

.app:hover{
/*
    background: linear-gradient(45deg, rgb(180, 182, 195), rgb(217, 63, 255));
*/
    color:black;
    border-radius:15px; 
    margin: 5px;
    text-align: center;
    font-size: 300%;
    padding: 10px;
    min-width: 20%;
    max-width: 20%;
}


img:hover{
    width: 100%;
    rotate: -360deg;
    animation: rodar infinite ease;
    animation-duration: 2s;
}
@keyframes rodar {
    0%{
        padding-bottom: 5%;
        padding-top: 0%;        
    }
    50%{
        padding-top: 5%;
        padding-bottom: 0%;
    }
    100%{
        padding-bottom: 5%;
        padding-top: 0%;        
    }
}
.footeer {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

ul, a {
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-family: 'Lucida Sans';
}
li {
    width: 13%;
    align-items: center ;
}
